.sw-bgcolor{
    background-color: #f65835;
}

.sw-bgcolor:hover, .sw-bgcolor:active:focus, .sw-bgcolor:focus{
    background-color: #fa3e13;
}

.sw-color{
    color: #f65835;
}

.rounded-pill {
  border-radius: 50rem !important;
}


.bg-container {
    position: relative;
    background-image: url('/Warehouse.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
  }
  
  .bg-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(118, 87, 46, 0.8);
    z-index: 1;
  }
  
  /* Optional: To place content inside the div */
  .bg-container .content {
    position: relative;
    z-index: 2;
    color: white;
  }

.start-20 {
  left: 20% !important;
}

.top-40 {
  top: 40% !important;
}

.forgot-password {
  color: #f65835;
  font-size: 14px;
  cursor: pointer;
}

.forgot-password:hover {
  color: #fa3e13;
  text-decoration: underline;
}