.sw-bgcolor{
    background-color: #f65835;
}

.sw-bgcolor:hover, .sw-bgcolor:active:focus, .sw-bgcolor:focus{
    background-color: #fa3e13;
}

.sw-bgcolor-static{
    background-color: #f65835;
}

.sw-button{
  background-color: #f65835;
  color: #fff;
  border: 1px solid #f65835;
}

.sw-button:hover, .sw-button:active:focus, .sw-button:focus{
  background-color: #fff;
  color: #f65835;
  border: 1px solid #f65835;
}


.sw-color{
    color: #f65835;
}

.gray-hover:hover{
    color: #ececec;
}

.rounded-pill {
  border-radius: 10px !important;
}


.bg-container {
    position: relative;
    background-image: url('/Warehouse.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
  }
  
  .bg-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(118, 87, 46, 0.8);
    z-index: 1;
  }
  
  /* Optional: To place content inside the div */
  .bg-container .content {
    position: relative;
    z-index: 2;
    color: white;
  }

.start-20 {
  left: 20% !important;
}

.top-40 {
  top: 40% !important;
}

.forgot-password {
  color: #f65835;
  font-size: 14px;
  cursor: pointer;
}

.forgot-password:hover {
  color: #fa3e13;
  text-decoration: underline;
}

.restaurant-section-nav {
  color: black;
}

.restaurant-section-nav:hover {
  color: #f65835;
}

.nav-link:hover {
  color: #f65835 !important;
}

.nav-link.active {
  background-color: #d3d2d2 !important;
}

.button-link:hover {
  color: #f65835 !important;
}

.sidebar-link:hover {
  background-color: #ececec !important;
  color: black !important;
}

.sidebar-link.active {
  background-color: #d3d2d2 !important;
}

.login-button {
  background-color: #f65835;
  color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  outline: none;
}

.login-button:hover {
  background-color: #fff;
  color: #f65835;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}

.register-button {
  color: #000;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  outline: none;
}

.register-button:hover {
  background-color: #ddd;
  color: black !important;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}